body {
    background-image: url("../img/coverart.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}.main-content {  /* Wrap the main content and modal */
    flex: 1;     /* Allow the main content to grow */
}

nav {
    background-color: transparent;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    text-size: 48px;
    color: #ffffff; 
    padding: 5px 10px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #808080;
}

footer {
    background-color: transparent;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

footer a {
    color: white;
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    display: inline-block;
    margin: 0 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; 
    max-width: 500px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
}

.modal-title {
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}.close-button:hover,.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.modal-content button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button[type="submit"]:hover {
    background-color: #45a049;
}

@keyframes slideUp {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 50%;
        opacity: 1;
    }
}

@media (min-width: 300px) {/* mobile devices */
   nav a {font-size: 82px;}
}
@media (min-width: 500px) {/* mobile devices */
   nav a {font-size: 72px;}
}
@media (min-width: 700px) {/* mobile devices */
   nav a {font-size: 56px;}
}

@media (min-width: 992px) { /* Large devices (desktops) */
   nav a { font-size: 2em; }
    
    .modal-content {
        width: 60%;
        height: 25%;
        margin: 15% auto;
    }
}

@media (min-width: 1100px) { /* Extra large devices (large desktops) */
  nav a { font-size: 2em; }
    
  .modal-content {
        width: 100%;
        height: 25%;
    }
}

@media (min-width: 1200px) { /* Extra large devices (large desktops) */
   nav a { font-size: 2em; }
    
  .modal-content {
        width: 50%;
        height: 25%;
    }
}
