    {% extends 'podcasts/base.html' %}

{% block title %}Terms of Service{% endblock %}

{% block content %}
<h1>Terms of Service</h1>

    <p>Effective Date: 02.22.2025</p>

    <p>Welcome to our site. By accessing or using the Website, you agree to be bound by these Terms of Service ("Terms"). Please read them carefully before using the Website.</p>

    <h2>Use of the Website</h2>

    <p>You may use the Website for lawful purposes only and in accordance with these Terms. You agree not to use the Website:</p>
    <ul>
        <li>In any way that violates any applicable federal, state, local, or international law or regulation.</li>
        <li>To impersonate or misrepresent your affiliation with any person or entity.</li>
        <li>To interfere with or disrupt the operation of the Website or the servers or networks connected to the Website.</li>
        <li>To attempt to gain unauthorized access to any part of the Website or any other systems or networks.</li>
    </ul>

    <h2>Intellectual Property</h2>

    <p>The content on the Website, including but not limited to text, graphics, logos, images, and audio clips, is the property of us and is protected by copyright and other intellectual property laws. You may not reproduce, modify, distribute, or display any of the content without our prior written consent.</p>

    <h2>Disclaimer</h2>

    <p>The information provided on the Website is for general informational purposes only and does not constitute professional advice. We make no warranties, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the Website or the information, products, services, or related graphics contained on the Website for any purpose.  Any reliance you place on such information is therefore strictly at your own risk.</p>

    <h2>Limitation of Liability</h2>

    <p>To the fullest extent permitted by law, we will not be liable for any damages of any kind arising from or related to your use of the Website, including but not limited to direct, indirect, incidental, consequential, or punitive damages.</p>

    <h2>Governing Law</h2>

    <p>These Terms will be governed by and construed in accordance with the laws of [Your State/Jurisdiction], without regard to its conflict of law principles.</p>

    <h2>Changes to these Terms</h2>

    <p>We may update these Terms from time to time. We will notify you of any changes by posting the updated Terms on this page.</p>

    <h2>Contact Us</h2>

    <p>If you have any questions about these Terms, please contact us at: admin@declared.space</p>

{% endblock %}